*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.bak
*.snm
*.synctex
*.toc
Tema 00 - Presentación/TransparenciasLatex/images/cicloVida-eps-converted-to.pdf
Tema 00 - Presentación/TransparenciasLatex/images/istr-eps-converted-to.pdf
Tema 00 - Presentación/TransparenciasLatex/images/uc-eps-converted-to.pdf
*.vrb
Tema 02 - Patrones de Diseño/sd-patronesdiseño.dvi
Tema 02 - Patrones de Diseño/sd-patronesdiseño.ps
Tema 02 - Patrones de Diseño/sd-patronesdiseño.tex.sav
*.sav
*.prj
*.ps
