*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.bak
*.snm
*.synctex
*.toc
Tema 00 - Presentación/TransparenciasLatex/images/cicloVida-eps-converted-to.pdf
Tema 00 - Presentación/TransparenciasLatex/images/istr-eps-converted-to.pdf
Tema 00 - Presentación/TransparenciasLatex/images/uc-eps-converted-to.pdf
*.vrb
*.ps
*.prj
